body {
  margin: 5%;
  background: whitesmoke;
  font-family: sans-serif;
}
body h1 {
  color: #4ad200;
}

.descripcion{
  word-break: break-all;
}

body .list-group-item {
  color:white;
  background: #4ad200;
  border-color: #90d113;
}

#button1{
pointer-events: none;
}

#button2{
  color: #4ad200;
  background:white;
  border-color: #4ad200;
}

#button2:hover{
  color: white;
  background: #4ad200;
}

.list-group-horizontal {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.list-group-horizontal > .list-group-item {
  border: 1px solid grey;
  display: table-cell;
  float: none;
  text-align: center;
  width: 1%;
  border-radius: 0;
}
.list-group-horizontal > .list-group-item:first-child {
  border-bottom-left-radius: 3px;
}
.list-group-horizontal > .list-group-item:last-child {
  border-bottom-right-radius: 3px;
}

.image-gallery{
  margin: auto;
}

.close{
  z-index: 999;
  position: relative;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}