/* ##### general ##### */
* {
  box-sizing: border-box;
}
main {
  padding: 0 2rem;
}

/* ##### Search ##### */
header {
  background: #3498db;
  margin-bottom: 2rem;
}
input[type='text'] {
  margin: 1rem;
  background: #fff;
  font-size: 1.3rem;
  border: none;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  border-radius: 3px;
  padding: 0 2rem;
  width: calc(100% - 2rem);
  height: 4rem;
}

/* ##### NamesList ##### */
ul {
  padding: 0;
}
li {
  position: relative;
  list-style: none;
  display: flex;
  padding: 0.25rem 0.75rem;
  margin: 2px;
  border-radius: 3px;
}
li:hover {
  cursor: pointer;
}
li.girl {
  background: #ffc6e5;
  color: #940050;
}
li.girl:hover {
  background: #ffadd9;
}
li.boy {
  background: #a0cfee;
  color: #16527a;
}
li.boy:hover {
  background: #8bc4ea;
}

/* ##### Favourites ##### */
.favourites li:hover:before {
  content: '\00D7';
  position: absolute;
  top: -0.5rem;
  right: -0.3rem;
  width: 1rem;
  height: 1rem;
  z-index: 2;
  text-align: center;
  line-height: 1;
  font-size: 0.9rem;
  vertical-align: middle;
  border-radius: 50%;
  background: #ff6347;
  border: solid 2px #fff;
  color: #fff;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.favourites h4 {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
  color: #b3b3b3;
}
.favourites hr {
  border-bottom: 0;
  border-top: solid 1px #e6e6e6;
  margin: 1.75rem 0;
}

/* ##### Footer ##### */
.credit {
  padding: 1rem 0;
  color: #b3b3b3;
}
.credit a {
  color: #3498db;
}
button {
  background: #d7d7d7;
  color: #3b3b3b;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  border: solid 1px #c7c7c7;
  margin: 1rem 0;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  border-radius: 3px;
  outline: none;
}
button:hover {
  background: #ddd;
}